<div>
  <ion-list-header>
    <ion-label >Upload a image</ion-label>
    <ion-button>
      <ion-icon  name="close" (click)="close()"></ion-icon>
    </ion-button>
  </ion-list-header>
  <div class="mt-3 text-center">
    <small>
      Change your profile image 
    </small>
    <div class="mt-3">
      <form    (ngSubmit)=" chackImage()" accept-charset="UTF-8" novalidate>

        <label for="file" slot="start" class="text-primary">
          <ion-spinner name='' *ngIf="loading" color="primary"></ion-spinner>
           <p class="btn btn-primary btn-sm pl-2 pr-2">
             Upload Image
           </p>
        </label>
        <input type="file" id="file" accept="image/x-png,image/gif,image/jpeg" (change)="uploadPostImage($event)" #filepiInput/> 
     
   </form>
  </div>
   
  </div>

</div>
