.title{
    font-size: medium;
    color: black;
    margin-bottom: -5px;
}

.back-btn{
        margin-left: 5px;
        color: #0d6efd;;
        width: 40px;
        height: 40px;
        background-color: #b2cef7;;
        border-radius: 3px;
}