
  <div ngbDropdown class="boy" placement="bottom">
    <ion-item>
        <ion-buttons slot="start">
          <ion-back-button class="back-btn" defaultHref="tabs/home"></ion-back-button>
        </ion-buttons>
        <ion-searchbar 
        id="nav-search" type="text"  
        placeholder="Search users" 
        [(ngModel)]="searchterm" (keydown)="search($event)">
        </ion-searchbar>  
    </ion-item>

      <div id="results-container" class=" mt-3" ngbDropdownMenu>
      <div id="user-section" *ngIf="users">
        <div *ngFor="let user of users">
          <div id="search-result" class="" style="width: 100%;" *ngIf="user" (click)="sendToProfile(user)">
            <ion-item id="img-wraper" lines="none" class="">
              <ion-avatar style="height: 40px;width: 40px;">
                   <img [src]="user.userImage"  alt="no image found..."  > 
 
              </ion-avatar>
               <ion-label class="ml-1" >
                 <p class="text-bold title text-dark"> 
                 {{user.displayName}}&nbsp;{{user.Category}}</p>
                 <small class="text-muted">{{user.email}}</small>
               </ion-label>
               <button type="button" class="btn pl-3 pr-3 btn-sm btn-outline-secondary"> view </button>
            </ion-item>
          </div>
        </div>
        <div class="nouser p-2">
          <p *ngIf="users?.length < 1" >No user found.</p>
        </div>
      </div>

      <div id="group-section">
        <div *ngFor="let group of groups">
          <div id="search-result" class="p-1" *ngIf="group" routerLink="/group/{{group.gid}}">
            <div id="text-wrapper" class="align-self-center ml-1">
              <span class="font-weight-bold align-self-center">{{group.gname}}</span>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
