<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/notelist" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<ion-textarea  rows="20" [(ngModel)]="noteContent"></ion-textarea>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="submiteUpate()"  expand="block"  >
      update
    </ion-button>
  </ion-toolbar>
</ion-footer>
