<ion-header class="ion-no-border">
  <ion-toolbar style="--background: rgb(6, 2, 27);" >
    <ion-buttons color="primary" slot="start">
      <ion-back-button color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: rgb(6, 2, 27);" >
 
    <div class="text-center text-light" style="margin-top: 30%;">
        <p  style="font-size: 40px; font-weight: bolder;">
      Watch live
    </p>
      <div  class="count-down" *ngFor="let main of Data; let ctp = index">
      
       
        <div class="m-4">
          <button (click)="openLink(main.youtube)" class="btn btn-outline-danger">
        
               <ion-icon name="logo-youtube" style="font-size: 25px;"></ion-icon>
            
            <p > Youtube  </p>
          </button>
          
      <button  (click)="openLink(main.facebook)" class="btn ml-2 btn-outline-primary">
         
          <ion-icon style="font-size: 25px;" name="logo-facebook"></ion-icon>
       
     <p >  facebook</p>
     
   </button>
   <br><br>
   <small>Next service {{main.nextservice}}</small>
    
        </div>
      
    </div>
    </div>
    <div class="bottom">

  
    <svg id='wave-background-svg' width='1279' height='938' viewBox='0 0 1279 938' preserveAspectRatio='xMidYMin slice' xmlns='http://www.w3.org/2000/svg'>
      <defs>
          <linearGradient x1='100%' y1='33.7445777%' x2='50%' y2='100%' id='blueGradient'>
              <stop stop-color='#5FBBD6' offset='0%'></stop>
              <stop stop-color='#FFFFFF' stop-opacity='0' offset='75%'></stop>
          </linearGradient>
      </defs>
      <g id='wave' transform='translate(0 -407)'>
          <path d='M-1.25 653c39.334-62 104.05-88 194.149-78C309.25 588 350.43 711.295 488.75 702.145
          c100-14.145 100.348-90.509 203-160.145 48.497-42.091 96-12.5 165-34s57.32-75 146.188-95
          c95.11-10.17 114.812 85 201.773 59 54.746-17.963 88.759-67.796 102.04-149.5L1279 1383.96H0
          L-1.25 653z' id='line-wave' stroke='#FFF' fill='url(#blueGradient)' opacity='0.5' />
      </g>
      <g id='wave2' transform='translate(20 -487) rotate(15) scale(1.25 1)'>
          <path d='M-1.25 653c39.334-62 104.05-88 194.149-78
          C309.25 588 350.43 711.295 488.75 702.145
          c100-14.145 100.348-90.509 203-160.145 48.497-42.091 96-12.5 165-34s57.32-75 146.188-95
          c95.11-10.17 114.812 85 201.773 59 54.746-17.963 88.759-67.796 102.04-149.5L1279 1383.96H0
          L-1.25 653z' id='line-wave' stroke='#FFF' fill='black' opacity='0.5' />
      </g>
  </svg>
  </div>
</ion-content>
