<br>
<ion-list>
  <ion-item >
    <div>
      <p class="text-bold">
        Today was church service Gods presence was real in church today
      </p>
      <small class="text-muted">Today .</small>
    </div>
        
      <img  slot="end" src ="assets/vfm-bg.jpg" 
      alt="Snow" style="width:90px;height: 70px;object-fit: cover;border-radius: 5px;">
    
  </ion-item>
  <ion-item class="mt-3">
    <div>
      <p class="text-bold">
        There will be a church out reach program for all church workers 
      </p>
      <small class="text-muted">Two days ago .</small>
    </div>
        
      <img  slot="end" src ="assets/vfm-bg.jpg" 
      alt="Snow" style="width:90px;height: 70px;object-fit: cover;border-radius: 5px;">
    
  </ion-item>
</ion-list>