*{
    opacity: 0px;
    margin: 0px;
  }
  img{
    height: 40px;
    width: 50px;
  }
  .text-bold{
    font-weight: bold;
  }
  .upload-btn{
    background-color: white;
    border: dashed 2px #e0e0e0;
    height: 55px;
    width: 100%;
    ion-icon{
      font-size: 40px;
    }
  }
  .fileInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .fileInput   label {
    color: #717171;
    background-color: white;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  .file-btn{
    border-radius: 15px;
    border: solid 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 10px 0px 0px 13px;
    width: 200px;
    height: 70px;
  }
  .btn-image-uploade{
    background-color: white;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    color: black;
    padding: 7px;
    font-size: 16px;
    display: flex;
    cursor: pointer;
     width: 100%;
    ion-icon{
        font-size: 25px;
      }
      .sub{
          font-size: smaller;
      }
  }

  ion-label{
      --color: #959595;
  }



  [type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
  }
  
  [type="file"] + label {
    /* File upload button styles */
  }
  
  [type="file"]:focus + label,
  [type="file"] + label:hover {
    /* File upload hover state button styles */
  }
  
  [type="file"]:focus + label {
    /* File upload focus state button styles */
  }