
<ion-app>
  <ion-menu side="start" menuId="first"  contentId="content">    
    <ion-content  style="--background: url('assets/bg-images/menu.jpg'); background-size: cover;">  
      <ion-menu-toggle auto-hide="false">
        <ion-list lines="none"  style="background: url('assets/bg-images/menu.jpg'); background-size: cover;">
          <ion-item  class="ion-no-padding ion-no-margin" style="background: none;">
            <div class="text-center">
              <img src="assets/icon/logo.png"style="height: 60px;width: 100px;object-fit:  contain;" ><br>
              <img src="assets/icon/bishopimage.png"style="height: 130px;width: 100% !important;object-fit:cover" >
            </div>
          </ion-item>
            <ion-item style="--ion-background-color: none;" [routerLink]="pages.url"  *ngFor="let pages of navigate"
             lines=none routerDirection="forward">  
              <ion-icon class="icon" [src]="pages.icon" 
              [name] = 'pages.icon'></ion-icon>
              <small class="ml-3  text-bold ">
              {{pages.title}}  
              </small>  
            </ion-item>
            <ion-item    style="--ion-background-color: none;"  (click)="logOut()">  
              <ion-icon name="log-out" size="large"></ion-icon>
              <small class="ml-3  text-bold">
                Logout
              </small>  
            </ion-item><br>
            <ion-row  style="--ion-background-color: none;" >
              <ion-col size="2" class="ml-3">
                <ion-icon (click)="openWebpage('https://www.facebook.com/vfmglobal/')" name="logo-facebook" size='large'  ></ion-icon>
              </ion-col>
              <ion-col size="2">
                <ion-icon name="logo-twitter" (click)="openWebpage('https://www.twitter.com/vfmglobal/')" size='large'></ion-icon>
              </ion-col>
              <ion-col size="2">
                <ion-icon name="logo-instagram" (click)="openWebpage('https://www.Instagram.com/vfmglobal/')" size= "large"></ion-icon>
              </ion-col>
              <ion-col size="2">
                <ion-icon name="call" (click)="openWebpage('http//:google.com')" size='large'></ion-icon>
              </ion-col>
              <ion-col size="2">
                <ion-icon name="logo-whatsapp" (click)="openWebpage('https://wa.link/plqrlm')" size='large'></ion-icon>
              </ion-col>
            </ion-row>
        </ion-list>
     </ion-menu-toggle>
    </ion-content>  

  </ion-menu>  

  <ion-router-outlet  Id="content"></ion-router-outlet>
</ion-app>
