<br>
<ion-list >
  <ion-item lines="none" 
  class="ion-no-padding"
  style="
  border: solid 1px#e0e0e0;
  margin: 10px;
  width: 95% !important;
  border-radius: 10px;
  --ion-item-background: linear-gradient(2deg, #fefeff 29%, #f8f9fe 96%);">
    <img src="assets/bishopimage.jpg"
     style="
     height: 100px;width: 100px;font-weight: 500;
     margin: 0px 10px 0px -10px; border-radius: 0px 0px 20px 0px;" >
    <div class="ml-2">
       <h2 class="text-dark title">Happy Brithday</h2>
       <small class="" style="font-weight: 100; margin-top: -1px;"> Bishop Abraham Chigbundu </small>
      
       <small class="text-muted">
        from eghosa  <br>
        Date:2/20/2021 </small>    
    </div> 
    <img slot="end" style="margin: -35px -10px 0px 0px; height: 40px;width: 40px;" src="assets/bg-images/celebration.svg" alt="" srcset="">
</ion-item>



</ion-list>