// @import url(//db.onlinewebfonts.com/c/000be6a5acfcd4e4a425e9f1bb6c80f0?family=Google+Sans);
@font-face {
    font-family: "happyfont"; 
    src: url("../../../../assets/font/celebration/GreatVibes-Regular.ttf"); 
}

.title{
    font-family: happyfont;
    font-weight: 800;
}
*{
    margin: 0px;
    padding: 0px;
}
