*{
    margin: 0px;
    padding: 0px;
}
.main-center{
    display:grid;
    text-align: center;
    justify-content: center;
    justify-items: center;
    height: 160px;
    align-content: center;
    align-self: center;
    align-items: center;
}
