
<ion-content>
<ion-list lines="none">
<ion-item [routerLink]="['/bible']" routerLinkActive="router-link-active" >
  <img class="icon" src="assets/icon/bible.svg" alt="">
<ion-label class="ml-2">
  <small class="text-bold">Bible</small>
</ion-label>
</ion-item>
<ion-item [routerLink]="['/give']" routerLinkActive="router-link-active" >
  <img class="icon" src="assets/icon/giving.svg" alt="">
<ion-label class="ml-2">
  <small class="text-bold">Give</small>
</ion-label>
</ion-item>
</ion-list>
</ion-content>
