<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back-btn" defaultHref="tabs/community"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <small>Note</small>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
 
    <!-- <div class="note">Add Photo/Video</div> -->
    
  <form   #blogForm="ngForm" (ngSubmit)="blogForm.form.valid && saveBlogPost()" accept-charset="UTF-8" novalidate>
  
    
      <ion-item lines=none no-padding class="darklist">
        <ion-textarea name="postContent" [(ngModel)]="notesData.content"
        required  rows="10" clearInput 
         class="title " placeholder="What on your mind"></ion-textarea>
      </ion-item>
 
   
    <div class="m-1">
      <button class="btn btn-primary btn-block btn-outline"
      (click)="  saveBlogPost()"
      [disabled]="!blogForm.valid" type="submit"
      type="button">save</button>
      </div>

  </form>

</ion-content>
