<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button color="primary" defaultHref="/devotion"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-button color="primary" slot="end" class="m-3">
      <ion-icon slot="start" name="book"></ion-icon>
      Bible
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content style="--background-color: rgb(241, 240, 241);">
<ion-list lines="none"> 

  <ion-item>
    <h2>Lorem ipsum dolor sit amet consectetur.</h2>
  </ion-item>
  <div class="ml-3 mb-2">
    <small>mark: 1:20</small>
    smal
  </div>
  <ion-item>
    <small class="text-muted">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nam, repudiandae porro, corporis perspiciatis deleniti dolorum dolor labore, illo dolore qui doloremque cupiditate voluptatum nobis explicabo reiciendis molestias excepturi aperiam! Neque beatae sint voluptatum, culpa animi maiores ipsum, a tempore aspernatur, reiciendis quidem voluptatem! Possimus repellat facilis minima dolores nam nulla enim cum cupiditate, est error deserunt hic et officia modi dolorem numquam harum perspiciatis tenetur fugit natus nostrum vero! Voluptatum molestiae temporibus repudiandae odio optio harum vero nisi ducimus, fugiat sed quo recusandae hic perferendis facilis autem facere tempora enim dicta consequatur vitae veniam placeat voluptatem. Aperiam, vitae quibusdam.
    </small>
  </ion-item>
  <p class="ml-3 mt-2">Prayer Point</p>
<ul>
  <li>
    <small>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, modi.</small> .</li>
</ul>
  <ion-item>
    <!-- <ion-avatar >
     <img src="assets/vfmprogrameimage.jpg" alt="" srcset="">
  
    </ion-avatar> -->
    <ion-label class="ml-2">
      <p class="text-">by  Bishop Abraham Chigbundu</p>
      <small>www.vfm@gmail.com</small>
    </ion-label>
  </ion-item>
</ion-list>

</ion-content>
<ion-footer>
  <img src="assets/bg-images/fundwattebg.jpg"
style="height: 100px;width: 100%;object-fit: cover;"
alt="" srcset="">
</ion-footer>
