<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon slot="end" class="ion-margin" name="close" (click)="close()" ></ion-icon>
    <ion-title><small class="text-primary">  About App</small> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <div>
    <div>
      <small>This is app seeks to put church online gives to the total church experience online.</small>
    </div>
  <div class="line"></div>
  <div class="heading">Version</div>
    <small>1.0</small>
    </div>
  </ion-item>
</ion-content>
